body{
  background-color: white;
  font-family: Tahoma;
  color: #434554;
}

.dark-mode {
  background-color: #2a2b33;
  color: #babcc2;
}

label{
  font-size:30px;
  
}
.buttons {
  padding:5px;
  font-family: inherit;
}

.header {
  background:#0d5696;
  padding:20px;
  color: white;
  font-family: Tahoma;
  margin-top: 0px;
}

#userInput {
  padding: 5px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 35px;
  font-family: inherit;
  color: inherit;
  background: inherit;
}

#metadata{
  font-size: 12px;
}

}
#darkModeButton{
  float: right;
}

#filterPlaceHolder{
  font-family: inherit;
}
/*------------------ Outputs ----------------*/
#resultants{
  font-family: "Trebuchet MS";
  border: 2px solid;
  border-radius: 5px;
  padding: 20px;
  width: 85%;
  margin: 10px;
  list-style:none;
}
/*-------------------------------------------*/
/* ----------- Dropdown CSS--------------*/
.dropDown{
  cursor: pointer;
  padding: 5px;
}

.dropDown:hover, .dropDown:focus{
  background-color: #c4c0c0;
}

.dropMenu{
  position: relative;
  display: inline-block;
}

.dropdown-items{
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-items a{
  display: block;
  padding: 3px;
  border: 1px solid black;
  background: white;
}

.show {
  display:block
}
/*-----------------------------------------*/

